<section class="hero p-0">
    <!-- ======= Header ======= -->
 <header id="header">
   <div class="container d-flex align-items-center justify-content-between">
     <!-- Uncomment below if you prefer to use an image logo -->
     <a href="index.html" class="logo"><img src="../../assets/img/ewlogo.png" alt="" ></a>
   </div>
 </header><!-- End Header -->
   <div class="hero-container">
     <h1>LIFE IS SHORT <span>EAT WELL</span></h1>
     <a href="listing.html" class="btn-get-started scrollto">Purchase an Eat Well Gift Card</a>
   </div>
 </section>
 <app-header-navigation ></app-header-navigation>
