<section id="restaurant" class="restaurant">
    <div class="container">
      <div class="row restaurant-section">
        <div class="col-lg-12 col-sm-12 restaurant-title">
            <h1>Featured Restaurants</h1>
        </div>
        <div class="col-lg-4 col-sm-4 restaurant-service" *ngFor="let list of restaurantsList">
          <img [src]="list.img" class="img-fluid">
            <h1><span class="span-h1">{{list.title}}</span></h1>
            <h2>781.740.0080</h2>
            <p>visit us at</p>
            <a [href]="list.navigateUrl" target="_blank">{{list.navigateUrl}}</a>
        </div>
        
        
      </div>
     <div class="text-center"><a href="listing.html" class="btn-get-started scrollto">Purchase an Eat Well Gift Card</a></div>
      <div class="sticky-img3"><img src="assets/img/side-img3.png"></div>
    </div>
  </section>