<section id="about" class="about">
    <div class="container">
      <div class="row about-section">
        <div class="col gift-book product-listing">
            <div class="product-listing-content">
              <p class="cart-main-title">All Eat Well Gift Cards may be used at Tosca, Caffe Tosca and Stars.</p>
              <div class="select"><select id="mounth" class="select-hidden">
                  <option value="hide">--Sort by popularity --</option>
                  <option value="january" rel="icon-temperature">Sort by latest</option>
                  <option value="february">Sort by price: low to high</option>
                  <option value="march">Sort by price: high to low</option>
              </select><div class="select-styled">--Sort by popularity --</div><ul class="select-options"><li rel="hide">--Sort by popularity --</li><li rel="january">Sort by latest</li><li rel="february">Sort by price: low to high</li><li rel="march">Sort by price: high to low</li></ul></div> 
              <div class="product-cart">
                  <div class="item">
                      <div class="img-box">
                        <img src="assets/img/ToscaGiftCard.jpg" class="img-fluid">
                      </div>
                      <div class="details">
                        <h2>TOSCA <br><span>Gift Card</span></h2>
                        <div class="price">$0.00</div>
                        <label>Valid Till</label>
                        <span>
                          Dec-2021
                        </span>
                        
                        <a href="product-details.html">Select</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="img-box">
                        <img src="assets/img/CaffeTosca.jpg" class="img-fluid">
                      </div>
                      <div class="details">
                        <h2>Caffé Tosca<br><span>Gift Card</span></h2>
                        <div class="price">$0.00</div>
                        
                        <label>Valid Till</label>
                        <span>
                          Dec-2021
                        </span>                           
                        <a href="#">Select</a>
                      </div>
                    </div>
                    <div class="item">
                      <div class="img-box">
                        <img src="assets/img/starsgiftcard.jpg" class="img-fluid">
                      </div>
                      <div class="details">
                        <h2>Stars<br><span>Gift Card</span></h2>
                        <div class="price">$0.00</div>
                        <label>Valid Till</label>
                        <span>
                          Dec-2021
                        </span>
                        
                        <a href="#">Select</a>
                      </div>
                    </div>
              </div>
            </div>
         
          <img src="assets/img/about.gif" class="gif-animated img-fluid">              
        </div> 
      </div>
    </div>
    <div class="sticky-img1"><img src="assets/img/side-img1.png"></div>
      <div class="sticky-img2"><img src="assets/img/side-img2.png"></div>
  </section>
