<section id="about" class="about">
    <div class="container">
      <div class="row about-section">
        <div class="col gift-book">
          <div class="holiday-details">
            <h1><span class="span-h1">Holidays</span> are <br>coming.</h1>
            <h2>Give the gift that would be loved.</h2>
            <a href="listing.html" class="btn-get-started scrollto" >Purchase an Eat Well Gift Card</a>
          </div>
          <img src="../../assets/img/about.gif" class="img-fluid">              
        </div> 
      </div>
      <div class="sticky-img1"><img src="../../assets/img/side-img1.png"></div>
      <div class="sticky-img2"><img src="../../assets/img/side-img2.png"></div>
    </div>
  </section>